@use "variables" as var;
@use "spiele-anzeige-template";

.liga{
    &.active{
        display: block;
    }

    .heading{
        background: var.$primary-color;
        height: var.$liga-heading-height;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .container{
            display: flex;
            align-items: center;
            gap: 15px;

            .liga-logo{
                height: 50px;
            }

            .wrapper{
                display: flex;
                flex-direction: column;
    
                .liga-name{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
    
                .beschreibung{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img{
                        height: 12px;
                        width: 20px;
                    }
    
                    span:last-child{
                        margin-left: 10px;
                    }
                }
            }
        }

        nav{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            padding: 5px 40px;
            padding-top: 10px;

            .slide-button{
                cursor: pointer;
                position: relative;
                padding: 10px;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: transparent;
                    border-radius: 30px;
                    transition: all .2s ease-in-out;
                }

                &.active::after{
                    background: var.$highlight-color;
                }
            }
        }
    }

    .window{
        .slider{
            display: grid;
            grid-template-columns: repeat(3, 100vw);
            transform: translateX(0); // Notwendig damit fixed Elemente nicht verrutschen
            transition: transform 0.5s ease-in-out;

            .slide.spiele{
                height: calc(var.$page-height - var.$liga-heading-height);

                .spiele-anzeige{
                    @extend %spiele-anzeige-template;

                    .spiel{
                        .liga{
                            display: none !important;
                        }
                    }
                }
            }

            .tabelle{
                margin: var.$spacing; // wie window padding durch %spiele-anzeige-template
                padding: 10px 3px 3px 3px;
                border-radius: var.$border-radius;
                background: var.$primary-color;
                height: calc(var.$page-height - var.$liga-heading-height - (var.$spacing * 2)); // - margin = (2* spacing)
                overflow: scroll;
    
                .tags{
                    display: grid;
                    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 10px;
                    gap: 0px;
                    place-items: center;
                    margin-bottom: 15px;
                    color: grey;
    
                    span:nth-child(2){
                        place-self: start;
                        margin-left: 5px;
                    }
                }
    
                ul.liste{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;         
    
                    li{
                        &:nth-child(-n+4){
                            .rang{
                                color: black;

                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 23px;
                                    height: 23px;
                                    background: rgb(29, 174, 55);
                                    border-radius: 50%;
                                    z-index: -1;
                                }
                            }
                        }
                        &:nth-child(5){
                            .rang{
                                color: black;

                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 22px;
                                    height: 22px;
                                    background: rgb(17, 109, 230);
                                    border-radius: 50%;
                                    z-index: -1;
                                }
                            }
                        }
                        &:nth-last-child(-n+4){
                            .rang{
                                color: black;

                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 22px;
                                    height: 22px;
                                    background: rgb(246, 91, 91);
                                    border-radius: 50%;
                                    z-index: -1;
                                }
                            }
                        }

                        .main{
                            display: grid;
                            grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 10px;
                            gap: 0px;
                            place-items: center;
        
                            img{
                                height: 20px;
                            }
        
                            .team{
                                place-self: start;
                                display: flex;
                                align-items: center;
                                gap: 7px;
                                margin-left: 5px;
                            }

                            .rang{
                                position: relative;
                                z-index: 2;
                                font-weight: 600;
                                font-size: .95rem;
                            }

                            i.fa-chevron-down{
                                cursor: pointer;
                                transition: transform 0.3s ease;
                                font-size: .4rem;

                                &.open{
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        .details{
                            display: flex;
                            align-items: end;
                            justify-content: center;
                            gap: 50px;
                            height: 0px;
                            opacity: 0;
                            overflow: hidden;
                            transition: height 0.3s ease;
                            padding-bottom: 3px;

                            &.open{
                                height: 35px;
                                opacity: 1;
                            }

                            .form{
                                span{
                                    &.grün{
                                        color: rgb(29, 174, 55);
                                    }
                                    &.grau{
                                        color: grey;
                                    }
                                    &.rot{
                                        color: rgb(246, 91, 91);
                                    }
                                }
                            }
                        }
                    }

                    .legende{
                        width: 100%;
                        padding: 10px;
                        background: rgb(21, 21, 21);
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        border-radius: var.$border-radius;
                        

                        b{
                            font-weight: 600;
                            margin-bottom: 10px;
                            display: inline-block;
                        }

                        div{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 10px;
                            margin-left: 2px;

                            .farbe{
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;

                                &.grün{
                                    background: rgb(29, 174, 55);
                                }
                                &.blau{
                                    background: rgb(17, 109, 230);
                                }
                                &.rot{
                                    background: rgb(246, 91, 91);
                                }
                            }
                        }
                    }
                }
            }
    
            .info{
                padding: var.$spacing;
                display: flex;
                flex-direction: column;
                gap: var.$spacing;
                height: calc(var.$page-height - var.$liga-heading-height);
                overflow: scroll;
                
                .dauer{
                    background: var.$primary-color;
                    border-radius: var.$border-radius;
                    padding: 20px;
        
                    .zeitstrahl{
                        width: 100%;
                        height: 7px;
                        background: grey;
                        border-radius: var.$border-radius;
                        position: relative;
                        overflow: hidden;
        
                        &::before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50%;
                            height: 100%;
                            background: rgb(112, 162, 255);
                        }
                    }
        
                    .wrapper{
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
        
                .ranking{
                    background: var.$primary-color;
                    border-radius: var.$border-radius;
                    padding: 20px;
                    text-align: center;
        
                    .wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 50px;
                        margin-top: 30px;
                        margin-bottom: 30px;
        
                        img{
                            height: 50px;
                        }
        
                        .titelverteidiger{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
        
                            span:nth-child(3){
                                color: grey;
                            }
                        }
        
                        .meiste-titel{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
        
                            span:nth-child(3){
                                color: grey;
                            }
                        }
                    }
        
                    ul{
                        margin-top: 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;
        
                            span:nth-child(1){
                                color: grey;
                            }
        
                            div{
                                display: flex;
                                align-items: center;
                                gap: 5px;
        
                                img{
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
        
                .untere-liga{
                    background: var.$primary-color;
                    border-radius: var.$border-radius;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
        
                    div{
                        display: flex;
                        align-items: center;
                        gap: 10px;
        
                        img{
                            height: 20px;
                        }
                    }
                }
        
                .aufsteiger{
                    background: var.$primary-color;
                    border-radius: var.$border-radius;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
        
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                        li{
                            display: flex;
                            align-items: center;
                            gap: 10px;
        
                            img{
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Anpassungen für Champions League
    &.champions-league{
        .window{
            .slider{
                .tabelle{
                    ul.liste{
                        li{
                            &:nth-child(-n+8){ // Nur die ersten 8 Elemente
                                .rang{
                                    color: black;
        
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 23px;
                                        height: 23px;
                                        background: rgb(29, 174, 55);
                                        border-radius: 50%;
                                        z-index: -1;
                                    }
                                }
                            }
                            &:nth-child(n+9):nth-child(-n+24) { // Elemente von 9 bis 24
                                .rang{
                                    color: black;
        
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 22px;
                                        height: 22px;
                                        background: rgb(17, 109, 230);
                                        border-radius: 50%;
                                        z-index: -1;
                                    }
                                }
                            }
                            &:nth-child(n+25){ // Elemente ab 25
                                .rang{
                                    color: black;
        
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 22px;
                                        height: 22px;
                                        background: rgb(246, 91, 91);
                                        border-radius: 50%;
                                        z-index: -1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}