@use "variables" as var;
@use "header";
@use "navbar";
@use "ligen";
@use "liga";
@use "alle-spiele";
@use "favoriten";
@use "preloader";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100svh;
    overflow: hidden;
    background: rgb(21, 21, 21);
    
    .width-container{
        max-width: 800px;
        margin: 0 auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .page{
        color: var.$white-color;
        height: var.$page-height;
        overflow-x: hidden; // verhindert horizontales scrollen
        display: none; //wird in js per active klasse überschrieben

        .spiele-anzeige{
            height: 100%;
            overflow: auto;
        }
    }
}



